
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    height: 100vh;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);

    /* CSS Variable */
    --primary-color: rgb(17, 14, 14);
    --secondary-color: rgb(19, 180, 86);

    --highlight-color: rgb(19, 180, 86);
    --hover-color:rgb(0, 158, 66);
    
    --font-color-dark: rgb(59, 59, 59);
    --font-color-light: rgb(255, 255, 255);

    --border-color-dark: rgb(82, 82, 82);
    --border-color-light: rgb(255, 255, 255);

}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
.ads{
    text-align: center; 
    color:rgb(0, 0, 0); 
    font-size: 14px;
    border: 1px solid black;
}
.banner-ads{
    width: 300px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
.sidebar-ads{
    width: 300px;
    height: 300px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
}
.no-scroll {
    overflow-y: hidden;
  }




/* Header Start */
header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}
.header-top{
    height: 5rem;
    background-color: var(--primary-color);
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.site-logo>a{
    text-decoration: none;
}
.site-logo>a>h2{
    font-size: 1.8rem;
    color: var(--font-color-light);
    background-color: var(--secondary-color);
    padding: 0.4rem;
}
.nav-icon{
    display: flex;
    background-color: var(--secondary-color);
}
.search-box{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    position: relative;
    justify-content: center;
}
.search-box form{
    background-color: var(--font-color-light);
    position: absolute;
    top: 4rem;
    right: 0rem;
    display: flex;
    border: 0.1rem solid var(--border-color-dark);
    visibility:hidden;
    z-index: 9999999;
}
.show-search-box{
    visibility: visible !important;
}
.search-box form input{
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: 0rem 0.2rem;
}
.search-box form button{
    background: var(--primary-color);
    color: var(--font-color-light);
    outline: none;
    border: none;
    height: 2.6rem;
    width: 6rem;
}
.search-box form button:hover{
    background-color: var(--hover-color);
}
.search-box i{
    color: var(--font-color-light);
    font-size: 2rem;
    padding: 0.3rem 0.8rem;
}
.search-box:hover{
    background-color: var(--hover-color);
}
.menu-box{
    display: none;
    cursor: pointer;
}
.menu-box i{
    color: var(--font-color-light);
    font-size: 2.5rem;
    padding: 0rem 0.55rem;
}
.menu-box:hover{
    background-color: var(--hover-color);
}
.header-bottom{
    background-color: var(--secondary-color);
    border-bottom: 0.1rem solid var(--border-color-light);
}
.bottom-nav{
    text-align: center;
}
.bottom-nav ul{
    list-style: none;
}
.bottom-nav ul li{
    position: relative;
    display: inline-block;
}
.bottom-nav ul li a{
    display: block;
    padding: 0.5rem 2rem;
    color: var(--font-color-light);
    text-decoration: none;
    text-align: center;
    font-size: 1.7rem;
}
.bottom-nav ul li ul.submenu li{
    display: block;
}
.bottom-nav ul li ul.submenu{
    width: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    z-index: 9999;
    display: none;
    border: 0.1rem solid var(--border-color-light);
}
.bottom-nav ul li a:hover{
    background-color: var(--hover-color);
}
.bottom-nav ul li:hover ul.submenu{
    display: block;
    transition: 0.8s;
}
.dropdown-menu{
    position: relative;
}
.dropdown-menu>a::after{
    content: "\F229";
    font-family: "bootstrap-icons";
    font-size: 1.3rem;
}
/* Header End */




/* Main Section Start */
.main-section{
    padding-top: 10.5rem;
}
main{
    margin-top: 1rem;
    display: flex;
}
.post-container{
   padding: 1rem;
}
.post-container > h2{
    font-size: 2rem;
    color: var(--font-color-dark);
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 2rem;
    position: relative;
}
.post-container > h2::after{
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 4.8rem;
    background-color: var(--highlight-color);
    bottom: -0.8rem;
    left: 0rem;
}
.blogpost-card{
    padding: 1.5rem 0rem;
    border-top: 1px solid var(--border-color-dark);
    display: flex;
    flex-direction: row;
}
.blogpost-card:nth-of-type(1){
    border-top: none;
    padding-top: 1.6rem;
}
.blogpost-card .thumbnail-image > img{
    width: 22rem;
    height: 15rem;
}
.blogpost-card .post-info{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.blogpost-card .post-info > h2{
    font-size: 1.8rem;
    color: var(--font-color-dark);
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blogpost-card .post-info .post-meta>p{
    font-size: 1.4rem;
    padding: 0.2rem 0.5rem;
    margin:0.6rem 0rem;
    background-color: var(--highlight-color);
    color: var(--font-color-light);
    display: inline-block;
}
.blogpost-card .post-info .post-body{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    font-size: 1.7rem;
    line-height: 2rem;
    color: var(--font-color-dark);
}
.right-sidebar{
    padding: 1rem;
    margin: 0 auto;
}
.popular-post-container{
    margin: 2rem 0rem;
}
.popular-post-container > h2{
    font-size: 1.6rem;
    color: var(--font-color-dark);
    font-weight: 800;
    text-transform: uppercase;
    margin: 1rem 0rem;
    position: relative;
}
.popular-post-container > h2::after{
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 4.8rem;
    background-color: var(--highlight-color);
    bottom: -0.8rem;
    left: 0rem;
}
.popular-post-card{
    padding: 1rem 0rem;
    border-top: 0.1rem solid var(--border-color-dark);
    display: flex;
    flex-direction: row;
    width: 100%;
}
.popular-post-card:nth-of-type(1){
    border-top: none;
    padding-top: 1rem;
}
.popular-post-card{
    display: flex;
}
.popular-post-card .thumbnail-image>img{
    width: 12rem;
    height: 9rem;
}
.popular-post-card .post-info{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.popular-post-card .post-info > h2{
    font-size: 1.6rem;
    color: var(--font-color-dark);
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.popular-post-card  .post-info .post-meta>p{
    font-size: 1.3rem;
    padding: 0.2rem 0.5rem ;
    margin:0.6rem 0.0rem;
    background-color: var(--highlight-color);
    color: var(--font-color-light);
    display: inline-block;
}
/* Main Section End */







/* Footer Start */
footer h2{
    color: var(--font-color-light);
}
footer ul{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: var(--font-color-light);
    font-size: 1.5rem;
    line-height: 2rem;
}
footer ul li a:hover{
    color: var(--hover-color);
}
.footer-top{
    background-color: var(--primary-color);
    opacity: 0.95;
}
.footer-nav{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.footer-left>h2, .footer-right>h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.footer-right {
    text-align: center;
}
.footer-right ul li{
     display: inline-block;
}
.footer-right ul li a{
    font-size: 2.4rem;
    padding: 0.5rem;
    color: var(--highlight-color);
}
.footer-right ul li a i{
    background-color: var(--font-color-light);
    padding: 0.3rem 0.5rem;
}
.footer-bottom{
    color: var(--font-color-light);
    background-color:var(--primary-color);
    text-align: center;
    padding: 1rem 0rem;
}
.copyright{
    font-size: 1.5rem;
}
.copyright p a{
    text-decoration: none;
    color: var(--highlight-color);
}
.copyright p a:hover{
    color: var(--hover-color);
}
/* Footer End */

@media only screen and (max-width: 1170px) {
    .wrapper{
        width: 100%;
    }
}
@media only screen and (max-width: 850px) {
    .blogpost-card .thumbnail-image > img{
        width: 18rem;
        height: 12rem;
    }
}
@media only screen and (max-width: 768px) {
    .content-overlay{
        background-color: black; 
        position: fixed;
        width: 100%;
        height: 100vh;
        opacity: 0.5;
        display: none;
        z-index: 99;
    }
    .active-overlay{
        display: block;
    }
    .menu-box{
        display: block;
    }
    .search-box form{
        right: -3.5rem;
    }
    .bottom-nav{
        display: none;
    }
    .active-nav{
        display: block;
        transition: 0.5s;
    }
    .bottom-nav ul li{
        display: flex;
        flex-direction: column;
    }
    .bottom-nav ul li a{
        display: block;
        width: 100%;
        text-align: left;
        position: relative;
        padding: 0.5rem 1rem;
    }
    .bottom-nav ul li ul.submenu{
        position: initial;
        flex-direction: column;
    }
    .bottom-nav ul li ul.submenu li a{
        padding-left: 2rem;
    }
    .bottom-nav ul li:hover ul.submenu{
        border: none
    }
    .main-section{
        padding-top: 7rem;
    }
    main{
        flex-direction: column;
    }
    .blogpost-card .thumbnail-image > img{
        width: 20rem;
        height: 15rem;
    }
    .right-sidebar{
        width: 100%;
    }
    .sidebar-ads{
        margin: 0 auto;
    }
    .popular-post-container > h2 {
        font-size: 2rem;
        font-weight: 800;
    }
    .popular-post-card {
        padding: 1.5rem 0rem;
    }
    .popular-post-card .thumbnail-image>img{
        width: 20rem;
        height: 15rem;
    }
    .popular-post-card .post-info > h2{
        font-size: 1.8rem;
    
    }
    .popular-post-card  .post-info .post-meta>p{
        font-size: 1.4rem;
    }
    .footer-nav{
        flex-direction: column;
        text-align: center;
    }
    .footer-right{
        margin-top: 3.5rem;
    }
    
}
@media only screen and (max-width: 600px) {
    .top-nav {
        padding: 1rem 1rem;
    }
}
@media only screen and (max-width: 480px) {

    .blogpost-card .thumbnail-image > img{
        width: 16rem;
        height: 12rem;
    }
    .popular-post-card .thumbnail-image>img{
        width: 16rem;
        height: 12rem;
    }
}
@media only screen and (max-width: 412px) {
    .blogpost-card .thumbnail-image > img{
        width: 16rem;
        height: 12rem;
    }
    .popular-post-card .thumbnail-image>img{
        width: 16rem;
        height: 12rem;
    }
}
@media only screen and (max-width: 360px) {
    .blogpost-card .thumbnail-image > img{
        width: 14rem;
        height: 10rem;
    }
    .popular-post-card .thumbnail-image>img{
        width: 14rem;
        height: 10rem;
    }
}
