
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;

    --primary-color: rgb(0 0 0);
    --secondary-color: rgb(32, 32, 32);
    --highlight-color: #009961;
    --hover-color:#af6d30;
    --font-color-dark: rgb(36, 36, 36);
    --font-color-light: rgb(255, 255, 255);
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
.ads{
    text-align: center; 
    color:#fff; 
    font-size: 14px;
}
.banner-ads{
    width: 300px;
    height: 80px;
    background-color: green;
    margin: 0 auto;
}
.sidebar-ads{
    width: 300px;
    height: 300px;
    margin: 5px;
    background-color: green;
}

/* Header Start */
header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}
.header-top{
    background-color: var(--primary-color);
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 32px;
}
.top-nav .site-logo>a{
    text-decoration: none;
}
.top-nav .site-logo>a>h2{
    font-size: 2rem;
    color: var(--font-color-light);
}
.top-nav .search-icon{
    cursor: pointer;
}
.top-nav .search-icon img{
    width: 20px;
    height: 20px;
}
.header-bottom{
    background-color: var(--highlight-color);
}
.bottom-nav{
    text-align: center;
}
.bottom-nav ul{
    list-style: none;
}
.bottom-nav ul li{
    display: inline-block;
    position: relative;
}
.bottom-nav ul li a{
    display: block;
    padding: 6px 25px;
    color: var(--font-color-light);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}
.bottom-nav ul li ul.dropdown li{
    display: block;
}
.bottom-nav ul li ul.dropdown{
    width: 100%;
    background-color: var(--highlight-color);
    position: absolute;
    z-index: 999;
    display: none;
}
.bottom-nav ul li a:hover{
    background-color: var(--hover-color);
}
.bottom-nav ul li:hover ul.dropdown{
    display: block;
}
/* Header End */




/* Main Section Start */
.main-section{
    padding-top: 100px;
}

main{
    margin-top: 10px;
    display: flex;
}
.post-container{
   padding: 10px;
}
.post-container > h2{
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
}
.post-container > h2::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 48px;
    background-color: var(--highlight-color);
    bottom: -8px;
    left: 0px;
}
.blogpost-card{
    padding: 15px 0px;
    border-top: 1px solid var(--highlight-color);
    display: flex;
    flex-direction: row;
}
.blogpost-card:nth-of-type(1){
    border-top: none;
    padding-top: 16px;
}
.blogpost-card .thumbnail-image > img{
    width: 220px;
    height: 150px;
}
.blogpost-card .post-info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.blogpost-card .post-info > h2{
    font-size: 2rem;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blogpost-card .post-info .post-meta>p{
    font-size: 1.4rem;
    padding: 2px 5px ;
    margin:6px 0px;
    background-color: var(--highlight-color);
    color: var(--font-color-light);
    display: inline-block;
}
.blogpost-card .post-info .post-body{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    font-size: 1.7rem;
    line-height: 2rem;
}
.right-sidebar{
    padding: 10px;
    margin: 0 auto;
}
.popular-post-container{
    margin: 20px 0px;
}
.popular-post-container > h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 10px 0px;
    position: relative;
}
.popular-post-container > h2::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 48px;
    background-color: var(--highlight-color);
    bottom: -8px;
    left: 0px;
}
.popular-post-card{
    padding: 10px 0px;
    border-top: 1px solid var(--highlight-color);
    display: flex;
    flex-direction: row;
    width: 100%;
}
.popular-post-card:nth-of-type(1){
    border-top: none;
    padding-top: 10px;
}
.popular-post-card{
    display: flex;
}
.popular-post-card .thumbnail-image>img{
    width: 120px;
    height: 80px;
}
.popular-post-card .post-info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.popular-post-card .post-info > h2{
    font-size: 1.6rem;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.popular-post-card  .post-info .post-meta>p{
    font-size: 1.3rem;
    padding: 2px 5px ;
    margin:6px 0px;
    background-color: var(--highlight-color);
    color: var(--font-color-light);
    display: inline-block;
}
/* Main Section End */







/* Footer Start */
footer h2{
    color: var(--font-color-light);
}
footer ul{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: var(--font-color-light);
    font-size: 1.5rem;
    line-height: 2rem;
}
footer ul li a:hover{
    color: var(--hover-color);
}
.footer-top{
    background-color:var(--secondary-color);
}
.footer-nav{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.footer-left>h2, .footer-right>h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-bottom{
    color: var(--font-color-light);
    background-color:var(--primary-color);
    text-align: center;
    padding: 10px 0px;
}
.copyright{
    font-size: 1.5rem;
}
.copyright p a{
    text-decoration: none;
    color: var(--highlight-color);
}
.copyright p a:hover{
    color: var(--hover-color);
}
/* Footer End */




@media only screen and (max-width: 1170px) {
    .wrapper{
        width: 100%;
    }
}
@media only screen and (max-width: 850px) {
    .blogpost-card .thumbnail-image > img{
        width: 180px;
        height: 120px;
    }
}
@media only screen and (max-width: 768px) {
    .bottom-nav ul li{
        display: flex;
        flex-direction: column;
    }
    .bottom-nav ul li a{
        display: block;
        width: 100%;
        text-align: left;
        position: relative;
    }

    .bottom-nav ul li ul.dropdown{
        position: initial;
        flex-direction: column;
        background-color: #af6d30;
        padding-left: 15px;
    }


    main{
        flex-direction: column;
    }
    .right-sidebar{
        width: 100%;
    }
    .sidebar-ads{
        margin: 0 auto;
    }
    .popular-post-container > h2 {
        font-size: 2.4rem;
    }
    .popular-post-card {
        padding: 15px 0px;
    }
    .popular-post-card .thumbnail-image>img{
        width: 220px;
        height: 150px;
    }
    .popular-post-card .post-info > h2{
        font-size: 2rem;
    
    }
    .popular-post-card  .post-info .post-meta>p{
        font-size: 1.4rem;
    }
    .footer-nav{
        flex-direction: column;
        text-align: center;
    }
    .footer-right{
        margin-top: 35px;
    }
    
}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 480px) {
    .blogpost-card .thumbnail-image > img{
        width: 160px;
        height: 120px;
    }
    .popular-post-card .thumbnail-image>img{
        width: 160px;
        height: 120px;
    }
}
@media only screen and (max-width: 412px) {
    .blogpost-card .thumbnail-image > img{
        width: 160px;
        height: 120px;
    }
    .popular-post-card .thumbnail-image>img{
        width: 160px;
        height: 120px;
    }
}
@media only screen and (max-width: 360px) {
    .blogpost-card .thumbnail-image > img{
        width: 140px;
        height: 100px;
    }
    .popular-post-card .thumbnail-image>img{
        width: 140px;
        height: 100px;
    }
}